<header
  class="d-flex justify-content-between align-items-center px-4 py-2"
  style="background-color: #ff3b30; color: white; min-height: 70px"
>
  <div class="d-flex align-items-center gap-2">
    <a href="#" class="d-inline-block border-0 bg-transparent p-0 text-decoration-none logo-btn">
      <img src="PeruTours.png" style="max-height: 45px; width: auto" />
    </a>
  </div>

  <div class="d-flex align-items-center gap-3">
    <button href="#" class="btn p-2 text-dark border-0 bg-transparent" aria-label="Buscar">
      <i class="bi bi-search fs-4"></i>
    </button>
    <button class="btn text-dark p-2 border-0 bg-transparent" aria-label="Notificaciones">
      <i class="bi bi-bell fs-4"></i>
    </button>
    <a
      class="btn p-0 border-0 rounded-circle overflow-hidden"
      aria-label="Perfil"
      style="width: 40px; height: 40px; background-color: #dbdbdb"
    >
      <i class="bi bi-person-fill fs-4 text-dark"></i>
    </a>
  </div>
</header>

<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
  <div class="container custom-form-container p-4 col-md-6">
    <form (ngSubmit)="onLogin()">
      <div class="row g-3 mb-4">
        <div class="col-12">
          <label class="form-label">Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            placeholder="ejemplo@correo.com"
            [(ngModel)]="loginData.email"
            required
          />
        </div>

        <div class="col-12">
          <label class="form-label">Contraseña</label>
          <input type="password" class="form-control" [(ngModel)]="loginData.password" required />
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button type="submit" (click)="onLogin()" class="btn custom-btn">Confirmar</button>

        <button type="button" (click)="goToRegister()" class="btn custom-btn">
          ¿Aún no estás registrado?
        </button>
      </div>
    </form>
  </div>
</div>

<footer
  class="d-flex justify-content-between align-items-end px-4 py-3 bg-dark"
  style="min-height: 250px"
>
  <div class="d-flex gap-3 text-white">
    <a href="#" class="text-white-50"><i class="bi bi-facebook fs-5"></i></a>
    <a href="#" class="text-white-50"><i class="bi bi-instagram fs-5"></i></a>
    <a href="#" class="text-white-50"><i class="bi bi-twitter-x fs-5"></i></a>
  </div>
  <div class="d-flex gap-3">
    <img src="footbarPeru1.png" alt="Image 1" style="height: 30px; width: auto" />
    <img src="footbarPeru2.png" alt="Image 2" style="height: 30px; width: auto" />
    <img src="footbarPeru3.png  " alt="Image 3" style="height: 30px; width: auto" />
  </div>
</footer>